{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div class="container-profil">
        <div class="title-profil">
            <h2>Profil de :</h2>
            <h3>{{ participant.pseudo }}</h3>
        </div>
        <img src="{{ asset('img/' ~ participant.photoProfil) }}" alt="">
        <div class="profil">
            <div class="profil-content">Prénom : {{ participant.prenom }}</div>
            <div class="profil-content">Nom : {{ participant.nom }}</div>
        </div>
        <div class="profil">
            <div class="profil-content">Téléphone : {{ participant.telephone }}</div>
            <div class="profil-content">Email : {{ participant.email}}</div>
        </div>
        <div class="profil">
            <div class="profil-content">Campus : {{ participant.campus.nom }}</div>
        </div>
    <div class="btn-profil">
    {% if not app.user %}
        <p>Vous n'êtes pas connecté</p>

        {% elseif app.user.id == participant.id %}
            <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">
                <button class="btn-profil-mod-ret">Modifier</button>
            </a>
    {% endif %}
    <a href="{{ path('app_sortie_index') }}">
        <button class="btn-profil-mod-ret">Retour</button>
    </a>
    </div>
    </div>
{% endblock %}
