{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div>
        <h1>{{ participant.pseudo }}</h1>
        <img src="{{ asset('img/' ~ participant.photoProfil) }}" alt="">
            <p>Prénom : {{ participant.prenom }}</p>
            <p>Nom : {{ participant.nom }}</p>
            <p>Téléphone {{ participant.telephone }}</p>
            <p>Email : {{ participant.email}}</p>
            <p>Campus : {{ participant.campus.nom }}</p>
    </div>

    <a href="{{ path('app_sortie_index') }}">
        <button class="btn btn-danger">Retour</button>
    </a>

    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">
        <button class="btn btn-warning">Modifier</button>
    </a>

{% endblock %}
