{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-formInscr">
        {{ form_start(registrationForm) }}
            <h1>Inscription</h1>
            <div class="formInscrInf">
                <div class="formInscr">{{ form_row(registrationForm.pseudo) }}</div>
                <div class="formInscr">{{ form_row(registrationForm.nom) }}</div>
            </div>
            <div class="formInscrInf">
                <div class="formInscr">{{ form_row(registrationForm.prenom) }}</div>
                <div class="formInscr">{{ form_row(registrationForm.telephone) }}</div>
            </div>
            <div class="formInscrInf">
                <div class="formInscr">{{ form_row(registrationForm.email) }}</div>
                <div class="formInscr">{{ form_row(registrationForm.plainPassword) }}</div>
            </div>
            <div class="formInscrInf">
                <div class="formInscr">{{ form_row(registrationForm.photoProfil) }}</div>
                <div class="formInscr">{{ form_row(registrationForm.campus) }}</div>
            </div>
        {{ form_row((registrationForm.confirmation)) }}

        <button type="submit" class="btn-formIns">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
