{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/villeCampus.css") }}">
    <h1>Campus index</h1>
    <div>
        <h5>Filter les campus</h5>
    </div>

    <div>
        {{ form_start(formRecherche) }}
        {{ form_row(formRecherche) }}
        <button type="submit" class="btn">{{ button_label|default('Rechercher') }}</button>
        {{ form_end(formRecherche) }}
    </div>
    <a href="{{ path('app_campus_index') }}">Retour à la liste</a>
    <div class="scroller">
    <table class="table">
        <thead class="enteteListe">
            <tr>

                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>
                    <a href="{{ path('app_campus_delete', {'id': campus.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Ajouter un campus</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Entrez un campus</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ include('campus/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
