{{ form_start(formAnnul) }}
<p>Nom de la sortie : {{ sortie.nom }}</p>
<p>Campus: {{ sortie.campus.nom }}</p>

{% for ville in villes %}
    <p>Code postal : {{ ville.codePostal }}</p>
{% endfor %}
    {% for lieu in lieux %}
        <p>Lieu : {{ lieu.nom }} {{ lieu.rue }} {{ lieu.ville.nom }} {{ lieu.ville.codePostal }}</p>
    {% endfor %}
{{ form_row(formAnnul.infoSortie) }}

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>



    {{ form_end(formAnnul) }}




