<div class="container-formSor">
    {{ form_start(form) }}
    <h1>Créer son événement</h1>
        <div class="test">
            <div class="formSor">{{ form_row(form.nom) }}</div>
            <div class="formSor"><label for="Campus">Campus :</label>
                <p>{{ app.user.campus.nom}}</p></div>
        </div>
        <div class="test">
            <div class="formSor">{{ form_row(form.dateHeureDebut) }}</div>
            <div class="formSor">{{ form_row(form.ville) }}</div>
        </div>
        <div class="test">
            <div class="formSor">{{ form_row(form.dateLimiteInscription) }}</div>
            <div class="formSor">{{ form_row(form.lieu) }}</div>
        </div>
        <div class="test">
            <div class="formSor">{{ form_row(form.nbInscriptionMax) }}</div>
            <div class="formSor">{{ form_row(form.rue) }}</div>
        </div>
        <div class="test">
            <div class="formSor">{{ form_row(form.duree) }}</div>
            <div class="formSor">{{ form_row(form.cp) }}</div>
        </div>
        <div class="formSor">{{ form_row(form.infoSortie) }}</div>

        <div class="bouton-formSor">
            <div class="sub-pub-ann">
                <button class="btn-form">{{ button_label|default('Enregistrer') }}</button>
                <button class="btn-form">{{ button_label|default('Publier ton événement') }}</button>
                <button class="btn-form-a"><a href="{{ path('app_sortie_index') }}">Annuler</a></button>
            </div>
        </div>
    {{ form_end(form) }}
 </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    let $token = $('#sortie__token')

    $(document).on('change','#sortie_ville',function(){
        let $villeFiled = $('#sortie_ville')
        let $form = $villeFiled.closest('form')

        let data = {}
        data[$villeFiled.attr('name')] = $villeFiled.val()
        data[$token.attr('name')] = $token.val()

        $.post($form.attr('action'),data).then(function(response){
            let $input = $(response).find('#sortie_lieu')
            $('#sortie_lieu').replaceWith($input)

            let $input2 = $(response).find('#sortie_cp')
            $('#sortie_cp').replaceWith($input2)

        })
    })


    $(document).on('change','#sortie_lieu',function (){
        let $lieuFiled = $('#sortie_lieu')

        let $villeFiled = $('#sortie_ville')
        console.log($lieuFiled.attr('id'))
        let $form = $lieuFiled.closest('form')

        let data = {}
        data[$villeFiled.attr('name')] = $villeFiled.val()
        data[$lieuFiled.attr('name')] = $lieuFiled.val()
        data[$token.attr('name')] = $token.val()

        $.post($form.attr('action'),data).then(function(response){
            let $input = $(response).find('#sortie_rue')
            $('#sortie_rue').replaceWith($input)
        })
    })
</script>

