{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    <div id="entete">
        <b>Filtrer les sorties</b>
        {{ form_start(formRecherche) }}
            {{ form_row(formRecherche.campus) }}
            {{ form_row(formRecherche.nom) }}
            {{ form_row(formRecherche.dateHeureDebut) }}
            {{ form_row(formRecherche.dateLimiteInscription) }}
        <button  type="submit" class="btn btn-primary">{{ button_label|default('Rechercher') }}</button>
        {{ form_end(formRecherche) }}
        <br>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                {% if app.user %}
                    <th>Inscrit</th>
                {% endif %}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.inscrits.count }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                {% if app.user %}
                <td>
                    {% for inscrit in sortie.inscrits %}
                       {% if app.user.id == inscrit.id %}
                           <p>x</p>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endif %}
                <td>
                    {% if app.user %}
                    <a href="{{ path('app_participant_edit', {'id': sortie.organisateur.id}) }}">
                        {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1)}}.
                    </a>
                    {% else %}
                        <a>
                            {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1)}}.
                        </a>
                        {% endif %}
                </td>
                <td>
                    {% if app.user %}
                        {% if sortie.organisateur == app.user and sortie.etat.id == 1 %}
                            <a href="{{ path('app_sortie_edit',{'id' :sortie.id})}}">Modifier</a>
                            <a href="{{ path('app_modif_etat',{'id' :sortie.id})}}">Publier</a>
                            {% else %}
                                <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">
                                        Afficher
                                </a>
                                {% if sortie.inscrits.count == 0 and app.user != sortie.organisateur %}
                                    <a>-</a>
                                    <a href="{{ path('app_sortie_inscription',{'id': sortie.id}) }}"> s'inscrire</a>
                                {% endif %}

                                {% if sortie.inscrits.count > 0 and app.user.id != sortie.organisateur.id %}
                                    {% for inscrit in sortie.inscrits %}
                                        {{ dump(inscrit) }}
                                        {% if app.user.id == inscrit.id %}
                                            <a>-</a>
                                            <a href="{{ path('app_sortie_desister',{'id': sortie.id}) }}">Se désister</a>
                                            {% else %}
                                                {% if sortie.etat.id != 1 and sortie.etat.id != 4 and sortie.etat.id != 5 and sortie.inscrits.count < sortie.nbInscriptionMax %}
                                                    <a>-</a>
                                                    <a href="{{ path('app_sortie_inscription',{'id': sortie.id}) }}"> s'inscrire</a>
                                                {% endif %}
                                        {% endif %}



                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% else %}
                                <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                        {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_sortie_new') }}">
        <button class="btn btn-warning">Créer une sortie</button>
    </a>

    {% endif %}

{% endblock %}
